# Online Food Delivery Preferences

In [21]:
import numpy as np
import pandas as pd
import seaborn as sb
import re
import nltk
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.tree import plot_tree
from wordcloud import WordCloud
from collections import Counter
import pattern
from pattern.en import parse
from pattern.en import pprint
from pattern.en import sentiment
sb.set()

In [16]:
foodDelivery = pd.read_csv("onlinedeliverydata.csv")

In [4]:
foodDelivery.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,...,Less Delivery time,High Quality of package,Number of calls,Politeness,Freshness,Temperature,Good Taste,Good Quantity,Output,Reviews
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,...,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Yes,Nil\r\n
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Yes,Nil
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,...,Important,Very Important,Moderately Important,Very Important,Very Important,Important,Very Important,Moderately Important,Yes,"Many a times payment gateways are an issue, so..."
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,...,Very Important,Important,Moderately Important,Very Important,Very Important,Very Important,Very Important,Important,Yes,nil
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,...,Important,Important,Moderately Important,Important,Important,Important,Very Important,Very Important,Yes,NIL

# Text Cleaning - Sentiment Analysis

Two libraries we will be using:
> - NLTK  
> - Pattern

In [28]:
print(sentiment("Nice, this is awesome"))

(0.8, 1.0)

In [32]:
foodDelivery["Sentiment"] = foodDelivery["Reviews"].apply(lambda x: sentiment(x)[0])
foodDelivery["Subjectivity"] = foodDelivery["Reviews"].apply(lambda x: sentiment(x)[1])

In [33]:
foodDelivery.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,...,Number of calls,Politeness,Freshness,Temperature,Good Taste,Good Quantity,Output,Reviews,Sentiment,Subjectivity
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,...,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Yes,Nil\r\n,0.0,0.0
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Yes,Nil,0.0,0.0
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,...,Moderately Important,Very Important,Very Important,Important,Very Important,Moderately Important,Yes,"Many a times payment gateways are an issue, so...",0.5,0.5
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,...,Moderately Important,Very Important,Very Important,Very Important,Very Important,Important,Yes,nil,0.0,0.0
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,...,Moderately Important,Important,Important,Important,Very Important,Very Important,Yes,NIL,0.0,0.0

In [34]:
foodDelivery = foodDelivery.drop(columns = ["Reviews"])